<div class="container">
  <div [hidden]="bookUpdated">
    <h3 style="margin-top: 30px;">Update Book Information <span style="
    font-size:small">* is a required field</span></h3>

    <form (ngSubmit)="onSubmit()">
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field>
                  <input type="text" matInput required [(ngModel)]="book.title" name="title" placeholder="Title" id='title'>
                </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="60px">
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <mat-form-field>
                    <input type="text" matInput required [(ngModel)]="book.author" name="author" placeholder="Author" id='author'>
                  </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <mat-form-field>
                    <input type="text" matInput required [(ngModel)]="book.publisher" name="publisher" placeholder="Publisher" id='publisher'>
                  </mat-form-field>
              </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="4" rowHeight="60px">
              <mat-grid-tile [colspan]="4" [rowspan]="1">
                  <mat-form-field>
                    <input matInput type="date" required [(ngModel)]="book.publicationDate" name="PublicationDate" placeholder="publicationDate" id='publicationDate'>
                  </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-select placeholder="Category" id ="category" name="category"
                    [(ngModel)]="book.category">
                        <mat-option value="Management">Management</mat-option>
                        <mat-option value="Fiction">Fiction</mat-option>
                        <mat-option value="Engineering">Engineering</mat-option>
                        <mat-option value="Programming">Programming</mat-option>
                        <mat-option value="Arts &amp; Literature">Arts &amp; Literature</mat-option>
                      </mat-select>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-select placeholder="Format" id ="format" name="format"
                    [(ngModel)]="book.format">
                        <mat-option value="paperback">Paperback</mat-option>
                        <mat-option value="hardcover">Hardcover</mat-option>
                      </mat-select>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                      <input type="text" matInput required [(ngModel)]="book.numberOfPages" name="pageNumber" step="1" placeholder="Number Of Pages" id='numberOfPages'>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                      <input type="text" matInput required [(ngModel)]="book.isbn" name="isbn" placeholder="ISBN" id='isbn'>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                      <input type="number" matInput required [(ngModel)]="book.listPrice" name="listPrice" step="1" placeholder="List Price" id='listPrice'>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                      <input type="number" matInput required [(ngModel)]="book.ourPrice" name="ourPrice" step="0.01" placeholder="Our Price" id='ourPrice'>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                      <input type="number" matInput required [(ngModel)]="book.shippingWeight" name="shippingWeight" step="1" placeholder="Shipping Weight" id='shippingWeight'>
                    </mat-form-field>&nbsp;ounces&nbsp;
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                    <mat-select placeholder="Language" id ="language" name="language"
                    [(ngModel)]="book.language">
                        <mat-option value="english">English</mat-option>
                        <mat-option value="spanish">Spanish</mat-option>
                      </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                      <input type="number" matInput required [(ngModel)]="book.inStockNumber" name="inStockNumber" placeholder="Numbers In Stock" id='inStockNumber'>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                &nbsp;
                <mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled"
                [(ngModel)]="book.active" 
                name="active">Active</mat-slide-toggle>
              </mat-grid-tile>
            </mat-grid-list>

            <mat-form-field>
                <textarea matInput required [(ngModel)]="book.description" name="description" placeholder="Description" id='description'></textarea>
              </mat-form-field>
              Image &nbsp;
              <input id="title" type="file" id="bookImage" name="bookImage"
              (change)="uploadImageService.fileChangeEvent($event)">
              <br><br>

              <mat-grid-list cols="20" rowHeight="60px">
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                       <button class="mat_primary" mat-raised-button type="submit">
                         Update Book</button>
                  </mat-grid-tile >
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <a class="mat-warn" mat-raised-button routerLink="/">Cancel</a>
                    </mat-grid-tile>
                    </mat-grid-list>
    </form>
  </div>
  <div class="row" [hidden]="!bookUpdated">
		<h3>Book updated successfully!</h3>
	</div>
  </div>